
@font-face {font-family: char; src: url(Charis400.woff2); font-style: normal; font-weight: normal;}
@font-face {font-family: char; src: url(Charis401.woff2); font-style: italic; font-weight: normal;}
@font-face {font-family: char; src: url(Charis700.woff2); font-style: normal; font-weight: bold;}
@font-face {font-family: char; src: url(Charis701.woff2); font-style: italic; font-weight: bold;}

body {
background: #ffffff; color: #314158;
font-family: char, serif;
hyphens: auto;
margin: 0 auto; max-width: 40em; padding: 0 1em;
}

.hang {margin: 1em 0;} .hang p {margin: 0; padding: 0 0 0 1em; text-indent: -1em;}

/*
#c70036	#ff2056 rose
#bb4d00 #fe9a00 amber
#497d00 #7ccf00 lime
#0069a8 #00a6f4 sky
#314158 #62748e #cad5e2 slate
*/
