
body {
background: #ffffff; color: #314158;
font-family: serif;
hyphens: auto;
margin: 0 auto; max-width: 40em; padding: 0 1em;
}

/*
#c70036	#ff2056 rose
#bb4d00 #fe9a00 amber
#497d00 #7ccf00 lime
#0069a8 #00a6f4 sky
#314158 #62748e #cad5e2 slate
*/
